// Import styling base.
@import './../../assets/styles/base.scss';

body{
  background-color: white;
  margin: 0;
  padding: 0;
}
.container {
  padding: 50px 0px;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
