// Import styling base.
@import './../../../../../assets/styles/base.scss';

.secondary {
  background-color: white;
  font-family: $roboto-stack;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 1px 7px#ccc;
  border: 2px solid #ccc;
  width: 360px;
  padding: 20px 0px;
  border-radius: 3px;
  p {
    font-weight: 600;
  }
}
